<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <style>
            body {
                background: pink;
            }
        </style>
{#    <script>#}
{#        alert('board에 오신 것을 환영합니다.')#}
{#    </script>#}
</head>
<body>
<h1>board 시작페이지입니다.</h1>
<br>
나의 수강 과목은 {{ subject }}<br>
나의 수강교실은 {{ class }}입니다.!
<hr>
{#get 방식#}
<a href ="/start3?n1=100&n2=300&subject={{ subject }}">to start3</a><br>
<a href ="/start3?n1=1111&n2=3333&subject={{ subject }}">to start3</a><br>
<a href ="/start3?n1=5555&n2=7777&subject={{ subject }}">to start3</a><br>
<form action="/start4" method="post">
{#    #안주면 서버죽음 아무나 못들어가게 보안화  #}
    {% csrf_token %}
    n1: <input name="n1" value="1111"><br>
    n2: <input name="n2" value="2222"><br>
    <input type="hidden" name="subject" value="{{ subject }}">
    <button style="background: lavender; font-family: 'Book Antiqua';font-weight: bold">서버로 계산 요청</button>
</form>
</body>
</html>