<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        // document = new document()
        // 미리 객체를 만들어서 제공하고있음. 빌트인 객체(내장된 객체)
        document.write('hello')
        // location.href='http://www.naver.com'
        // document.getElementById('idValue')
    </script><br>
    <style>
        td{
            text-align: center;
        }
        #td1{/* #td1 =id중에서 td1을 선택해라 */
            background: lavender;
        }
        #td2{
            background: pink;
        }
        #td3{
            background: aliceblue;
        }
        #td4{
            background: antiquewhite;
        }
        .td5{/* .td5 =class중에서 td5을 선택해라 */
            background: azure;
        }
    </style>
</head>
<body>
나의 첫 표(테이블) 내용입니다.
<hr color="red">
<table>
    <tr>
        <td id="td1">취미종류</td>
        <td id="td2">취미금액</td>
        <td id="td3">취미장소</td>
    </tr>
    <tr>
        <td class="td5">달리기</td>
        <td >1000</td>
        <td>여의도 공원</td>
    </tr>
    <tr>
        <td class="td5">등산</td>
        <td>2000</td>
        <td>관악산</td>
    </tr>
    <tr>
        <td class="td5">독서</td>
        <td>10000</td>
        <td>강남역</td>
    </tr>
    <tr>
        <td id="td4" colspan="3">첫 페이지로</td>
    </tr>
</table>
<hr>
<ul> <!-- unordered list : 순서없는 목록 -->
    <li>커피</li>
    <li>tv</li>
    <li>라디오</li>
</ul>
<ol> <!-- ordered list : 순서있는 목록 -->
    <li>수업</li>
    <li>점심</li>
    <li>수업2</li>
</ol>
</body>
</html>